.banner-login {
  width: 65%;
}

.login-container {
  margin-top: 5rem;
}

.login-input {
  margin-bottom: 1.5rem;
}

.container-input-adornment {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 24px;
  margin-bottom: 1rem;
}
