.registration-container {
  margin-top: 5rem;
}

.banner-registration {
  width: 65%;
  height: 65%;
}

.registration-input {
  margin-bottom: 1rem;
}

.container-input-adornment {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 24px;
  margin-bottom: 1rem;
}
