.pattern-banner {
  background-image: url("../../assets/pattern.svg");
  background-size: cover;
  padding: 20px 40px;
  height: 4rem;
  display: flex;
  align-items: center;
}

.box-container-nav-profile {
  padding: 1rem 0.5rem 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.general-information-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.edit-information-container {
  margin: 1.5rem 0;
}

.edit-information-input {
  margin-top: 1rem;
}
