.appBar {
  position: fixed;
  filter: drop-shadow(0 8px 15px rgba(0, 14, 61, 0.08));
}

.menuButton-Navbar {
  padding: 0 35px;
}

.menuButton-Navbar:hover {
  color: #f08126;
}

.avatar-penampung {
  border-radius: 50%;
  border: 2px solid #4aaeff;
  padding: 0.05rem;
}

.avatar-navbar {
  border: 1px solid #fff;
}

.namaLengkap-sidebar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
